################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HttpList/HttpList/bin/Debug
/HttpList/.vs/HttpList/v15
/.vs
/HttpList/HttpList/obj
/Reg1/.vs/Reg1/v15
/Reg1/Reg1/bin/Debug
/Reg1/Reg1/obj
/EFCodeFirst/EFCodeFirst/bin/Debug
/EFCodeFirst/.vs/EFCodeFirst/v15
/EFCodeFirst/EFCodeFirst/obj/Debug
/EFCodeFirst/packages
/MVCApp
/WpfAdo/.vs/WpfAdo/v15
/WpfAdo/WpfAdo/bin/Debug
/WpfAdo/WpfAdo/obj/Debug
/AsyncList/.vs/AsyncList/v15
/AsyncList/AsyncList/bin/Debug
/AsyncList/AsyncList/obj/Debug
/AsyncList/AsyncList/obj/Release
/EFCodeFirst/EFCodeFirst/obj/Release
/EFDatabaseFirst/EFDatabaseFirst/obj
/UDPChat/.vs/UDPChat/v15
/UDPChat/UDPChat/obj
/WebAppEFMany/.vs
/WebAppEFMany/packages
/WebAppEFMany/WebAppEFMany/App_Data
/WebAppEFMany/WebAppEFMany/bin
/WebAppEFMany/WebAppEFMany/obj
/WpfAdo/WpfAdo/obj/Release
