################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HttpList/HttpList/bin/Debug
/HttpList/.vs/HttpList/v15
/.vs
/HttpList/HttpList/obj
/Reg1/.vs/Reg1/v15
/Reg1/Reg1/bin/Debug
/Reg1/Reg1/obj
