<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="WpfAdo.Properties.Settings.myBase2017ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=myBase2017;Integrated Security=True;Connect Timeout=30;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="ModelDB" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=myBase2017;integrated security=True;connect timeout=30;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>